.page { font-family: Helvetica, sans-serif; font-size: 250%;  background-color: lightgreen; padding: 15px;
}
.footer { font-family: Helvetica, sans-serif; font-size: 150%;  background-color: lightgreen; padding: 15px; text-decoration: none;
}
.spider { font-family: Helvetica, sans-serif; font-size: 250%;  background-color: gray; padding: 15px;
}
